@import "https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css";

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    /* overflow-x: hidden;  */
}
body {    
  /* background-image: url(morsebackground.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
  font-size: 70%;
  text-align: center;
  color: white;
  font-family: "Varela Round", sans-serif;
}

header {
  background-color: #258daf;
  text-align: center;
  font-size: 5rem;
}
.contentTitle{
  font-size: 1.5rem;
  
}
#inputAndOutputBox {
  display: flex;
  justify-content: center;
  height: 100;
}
.card{
  background: #fffffff5 !important;
}
.contentAligner{
  display: flex;
  justify-content: center;
  height: 70vh;
  align-items: center;
}
#myButton {
  background-color: grey;
  border: 3px solid black;
  border-radius: 20;
  color: white;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 25px;
  opacity: 1;
}

.inputBoxHeight{
  height:10rem;
  width: 30%;
  margin-top:1rem
}